<table class="table table-border table-bordered table-hover">
<thead class="text-c">
  <tr>
    <th>门店名称/联系电话</th>
    <th>设备MAC地址</th>
    <th>IP地址</th>
    <th>最后调用时间</th>
    <th>设备版本号</th>
  </tr>
</thead>
<tbody class="text-c">
{{#if this}}
{{#each this}}
    <tr>
      <td>{{#if parentName}}{{parentName}}/{{/if}}{{#if parentPhone}}{{parentPhone}}{{/if}}</td>
      <td>{{#if deviceMac}}{{deviceMac}}{{/if}}</td>
      <td>{{#if deviceIp}}{{deviceIp}}{{/if}}</td>
      <td>{{#if lastUseTime}}{{formatDate lastUseTime}}{{/if}}</td>
      <td>{{#if version}}{{version}}{{/if}}</td>
    </tr>
{{/each}}
{{else}}
    <tr>
        <td class="text-c" colspan="5">查无数据</td>
    </tr>
{{/if}} 
</tbody>
</table>
<div class="pager"></div>