{{#each this}}
    <div class="item" data-id="{{id}}">
        <div><span class="mylabel">被查询者：</span><span class="text name">{{name}}</span></div>
        <div><span class="mylabel">证件类型：</span><span class="text idCard">{{idCard}}</span></div>
        <div><span class="mylabel">证件号码：</span><span class="text cardNumber">{{cardNumber}}</span></div>
        <div><span class="mylabel">查询时间：</span><span class="text time">{{time}}</span></div>
    </div>
{{/each}}
