 {{#if this}}
<div class="queryBox text" id="statusSelect">
    总充值：{{ formatMoney totalAmount}}元，剩余：{{formatMoney remainAmount}}元，已使用：{{ formatMoney useAmount}}元，当前超用：{{ formatMoney overUsedAmount}}元 （充值请拨打138-6814-7190（盛经理））
</div>
{{else}} {{/if}}



