
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td>序号</td>
            <td class="title-bold" colspan="3">执行公告</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:310px;">立案时间</td>
        <td style="width:310px;">执行法院</td>
        <td style="width:310px;">执行申请人</td>
    </tr>
     <tr>
        <td style="width:310px;">立案时间</td>
        <td style="width:310px;">执行法院</td>
        <td style="width:310px;">执行申请人</td>
    </tr>
    <tr>
        <td style="width:310px;">执行暗号</td>
        <td style="width:310px;">案件状态</td>
        <td style="width:310px;">执行标的</td>
    </tr>
    <tr>
        <td style="width:310px;">执行暗号</td>
        <td style="width:310px;">案件状态</td>
        <td style="width:310px;">执行标的</td>
    </tr>
     <tr>
        <td style="width:310px;">案件概要</td>
        <td colspan="2">案件状态</td>

    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:70px;">序号</td>
            <td colspan="2">失信公告</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td >立案时间</td>
        <td style="width:700px;">被执行人履历情况</td>
    </tr>
     <tr>
        <td >执行法院</td>
        <td>执行申请人</td>
    </tr>
    <tr>
        <td >案件执行案号</td>
        <td>执行法院</td>
    </tr>
    <tr>
        <td >执行暗号</td>
        <td >案件状态</td>
    </tr>
     <tr>
        <td >内容摘要</td>
        <td >案件状态</td>

    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:100px;">序号</td>
            <td colspan="3">法院公告</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td >内容概要</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:70px;">序号</td>
            <td colspan="3">裁判文书</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:270px;">审结时间</td>
        <td style="width:700px;">法院名称</td>
    </tr>
     <tr>
        <td>发布时间</td>
        <td>法院名称</td>
    </tr>
    <tr>
        <td>案号</td>
        <td>案由</td>
    </tr>
    <tr>
        <td>案号</td>
        <td>案由</td>
    </tr>
    <tr>
        <td >内容概要</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:100px;">序号</td>
            <td colspan="3">曝光台</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:300px;">立案时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">案由</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td style="width:300px;">案号</td>
        <td style="width:300px;">依据</td>
        <td style="width:300px;">标的金额</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td >内容</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:100px;">序号</td>
            <td colspan="3">开庭公告</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:300px;">开庭时间</td>
        <td style="width:300px;">原告</td>
        <td style="width:300px;">法院名称</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td style="width:300px;">案号</td>
        <td style="width:300px;">案由</td>
        <td style="width:300px;">标题</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td >内容概要</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:100px;">序号</td>
            <td colspan="3">案件流程</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="7">1</td>
        <td style="width:300px;">立案时间</td>
        <td style="width:300px;">立案类型</td>
        <td style="width:300px;">判决日期</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td style="width:300px;">案号</td>
        <td style="width:300px;">案件状态</td>
        <td style="width:300px;">法院名称</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td style="width:300px;">审理状态</td>
        <td style="width:300px;">案由</td>
        <td style="width:300px;">诉讼标的</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td >内容概要</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="consumeBehavior">
     <thead class="text-c">
        <tr>
            <td style="width:100px;">序号</td>
            <td colspan="3">网贷 黑名单</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="5">1</td>
        <td style="width:300px;">贷款时间</td>
        <td style="width:300px;">执行法院</td>
        <td style="width:300px;">来源单位名称</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td style="width:300px;">未还/罚息</td>
        <td style="width:300px;">本金/本息</td>
        <td style="width:300px;">已还金额</td>
    </tr>
     <tr>
        <td style="width:300px;">发布时间</td>
        <td style="width:300px;">法院名称</td>
        <td style="width:300px;">公告类型</td>
    </tr>
    <tr>
        <td >内容概要</td>
        <td colspan="2"> 执行法院</td>
    </tr>
    </tbody>
</table>
<table class="record mt40">
    <thead class="text-c">
        <tr>
            <td colspan="5">贷款申请信息</td>
        </tr>
    </thead>
    <tbody>
        {{#if this}} {{#each this}}
        <tr class="text-c">
            <td>{{bankType}}</td>
            <td>{{platformcode}}</td>
            <td>{{applicationtime}}</td>
            <td>{{applicationamount}}</td>
            <td>{{applicationresult}}</td>
        </tr>
        {{/each}} {{else}}
        <tr>
            <td class="text-c" colspan="8">查无数据</td>
        </tr>
        {{/if}}
    </tbody>
</table>