<table class="record mt40">
    <thead class="text-c">
        <tr>
            <td style="width:120px;">序号</td>
            <td class="title-bold" colspan="4">网贷黑名单</td>
        </tr>
    </thead>
    <tbody>
        {{#if this}} {{#each this}}
        <tr>
            <td rowspan="6" style="width:120px;">{{addOne @index}}</td>
            <td >贷款时间</td>
            <td >姓名</td>
            <td >执行法院</td>
            <td >来源单位名称</td>
        </tr>
        <tr>
            <td class="report-content">{{isEmpty sortTimeString}}</td>
            <td>{{isEmpty pname}}</td>
            <td class="report-content">{{isEmpty court}}</td>
            <td>{{isEmpty sourceName}}</td>
        </tr>
        <tr>
            <td>未还/罚息</td>
            <td>本金/本息</td>
            <td>案号</td>
            <td>已还金额</td>
        </tr>
        <tr>
            <td class="report-content">{{isEmpty whfx}}</td>
            <td class="report-content">{{isEmpty bjbx}}</td>
            <td class="report-content">{{isEmpty caseCode}}</td>
            <td class="report-content">{{isEmpty yhje}}</td>
        </tr>
        <tr>
            <td class="match-level">匹配度</td>
            <td colspan='3' class="report-content">{{matching matchRatio}}</td>
        </tr>
        <tr>
            <td>内容概要</td>
            <td colspan='3' class="report-content">{{isEmpty body}}</td>
        </tr>
        {{/each}} {{else}}
        <tr>
            <td  style="width:120px;">1</td>
            <td class="text-c" colspan="8">查无数据</td>
        </tr>
        {{/if}}
    </tbody>
</table>