<div class="queryBox text" id="statusSelect">
    <label class="labelText w70 pull-left text-r">状态：</label>
    <input class="btn radius btn-link statu-all" type="button"id="statu" value="全部" data-status=""data-a="">
    <input class="btn btn-link radius asd"  type="button" value="未查看"id="statu1" data-statu="4" data-a="1"><span>({{notChecked}})</span>
    <input class="btn btn-link radius" type="button" value="未处理"id="statu2" data-statu="0" data-a="2"><span>({{businessUntreatedCount}})</span>
    <input class="btn btn-link radius statu-unpass" type="button"id="statu3" value="未通过" data-statu="2"data-a="3"><span>({{businessNotPassCount}})</span>
    <input class="btn btn-link radius statu-pass" type="button"id="statu4" data-a="4"value="已通过" data-statu="1"><span>({{businessPassCount}})</span>
</div>
<div class="queryBox text" id="statusSelect1">
    <label class="labelText w70 pull-left text-r">风险等级：</label>
    <input class="btn radius  btn-link color-all" type="button"id="levebtn" data-b=""value="全部" data-level="">
    <input class="btn  btn-link radius color-red" type="button"id="levebtn1" data-b="1" value="红" data-level="3">
    <input class="btn btn-link radius color-yellow" type="button"id="levebtn2" data-b="2" value="黄" data-level="2">
    <input class="btn btn-link radius color-green" type="button"id="levebtn3" data-b="3" value="绿" data-level="1">
</div>
<div class="queryBox text" id="statusSelect2">
    <label class="labelText w70 pull-left text-r">身份信息：</label>
    <input class="btn radius primary" type="button" id="idcard" value="全部" data-c=""data-idval="">
    <input class="btn btn-link radius" type="button" id="idcard1"value="验证通过" data-c="1"data-idval="1"><span>({{identityPassCount}})</span>
    {{!--<input class="btn btn-link radius" type="button" value="已查看" data-idval="0">--}}
    <input class="btn btn-link radius" type="button" id="idcard2" value="验证失败" data-c="2"data-idval="-1"><span>({{identityNotPassCount}})</span>
    <input class="btn btn-link radius" type="button"id="idcard3" value="身份证过期" data-c="3"data-idval="3"><span>({{identityExpiredCount}})</span>
</div>
<div class="queryBox text" id="statusSelect3">
    <label class="labelText w70 pull-left text-r">人脸对比：</label>
    <input class="btn radius primary" type="button" id="face"value="全部" data-d=""data-face="">
    <input class="btn btn-link radius" type="button"id="face1" value="识别通过"data-d="1" data-face="10"><span>({{faceVerificationPassCount}})</span>
    <input class="btn btn-link radius" type="button" id="face2"value="人工通过" data-d="2"data-face="20"><span>({{faceVerificationLabourPassCount}})</span>
    <input class="btn btn-link radius" type="button"id="face3" value="未通过" data-d="3"data-face="-10"><span>({{faceVerificationNotPassCount}})</span>
    <input class="btn btn-link radius" type="button"id="face4" value="人工未通过"data-d="4" data-face="-20"><span>({{faceVerificationLabourNotPassCount}})</span>

</div>
<div class="queryBox text" id="statusSelect5">
    <label class="labelText w70 pull-left text-r">查询来源：</label>
    <input class="btn radius primary" type="button" value="全部" data-e=""data-face="">
    <input class="btn btn-link radius" type="button" value="人证通" data-e="1"data-source="1">
    <input class="btn btn-link radius" type="button" value="接口"data-e="2" data-source="3">
    <input class="btn btn-link radius" type="button" value="App"data-e="3" data-source="2">

</div>
<div class="queryBox text" id="statusSelect4">
    <label class="labelText w70 pull-left text-r">手机校验：</label>
    <input class="btn radius btn-link mobile-all" type="button"id="check" value="全部" data-f=""data-status="">
    <input class="btn btn-link radius" type="button" id="check1"value="未校验"data-f="1" data-status="0"><span>({{mobileCheckUntreatedCount}})</span>
    <input class="btn btn-link radius" type="button" id="check2"value="校验失败"data-f="2" data-status="1"><span>({{mobileCheckNotPassCount}})</span>
    <input class="btn btn-link radius mobile-succ" type="button"id="check3"data-f="3" value="校验成功" data-status="2"><span>({{mobileCheckPassCount}})</span>
</div>
{{!--<div class="queryBox mt-10 text" id="queryTime">
    <label class="labelText w70 pull-left text-r">查询时间：</label>
    <input size="16" id="startTime1" class="startTime1 input-text pull-left w120" type="text" placeholder="开始时间" readonly>
    <div class="pull-left" style="height: 32px;line-height: 32px;padding: 0px 10px;">--</div>
    <input size="16" id="endTime1" class="endTime1 input-text pull-left w120" type="text" placeholder="结束时间" readonly>
</div>--}}



