<li class="{{homePage}}"><a href="/company/homePage.htm">&nbsp;&nbsp;&nbsp;&nbsp;首页</a></li>
<li class="{{customerManage}}"><a href="/company/customerManage.htm">&nbsp;&nbsp;&nbsp;&nbsp;客户管理</a></li>
<li class="{{deviceManage}}"><a href="/company/deviceManage.htm">&nbsp;&nbsp;&nbsp;&nbsp;设备管理</a></li>
<li class="{{inforService}}"><a href="/company/inforService.htm">&nbsp;&nbsp;&nbsp;&nbsp;信息查询</a></li>
<li class="{{dataCount}}"><a href="/company/dataCount.htm">&nbsp;&nbsp;&nbsp;&nbsp;数据统计</a></li>
<li class="{{rechargeManage}}"><a href="/company/rechargeManage.htm">&nbsp;&nbsp;&nbsp;&nbsp;充值管理</a></li>
<li class="{{accountManage}}"><a href="/company/userManage.htm">&nbsp;&nbsp;&nbsp;&nbsp;账号管理</a></li>

